.App {
  text-align: center;
  background-color: #607B80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  margin: 0px;
}

p, div{
    margin: 0px;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: black;
    width: 450px;
    margin-left: 15px;
}

button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: whitesmoke;
    background-color: #025F70;
    margin-right: 15px;
}